<!DOCTYPE html>
<html>
<head>
  <title>Myaddressbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body >
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
<br/>
<br/>
<br/>

  <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

<% if current_user %>
          <%= render 'contacts/navbar'%>
<%end%>
          <%= yield %>

        </div>
      </div>
    </div>
  </div>


</body>
</html>
